.body {
    line-height: 2.6;
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
}
.containerBoos{
    background-color: white;
    margin: 10px;
}

.btn-primary {
    color: white;
    background-color: #641115;
    border-color: #641115;
}
.btn-primary:hover {
    background-color: #641115;
    border-color: #641115;
}

.colorForm {
            background-color: white;
            text-align: center;
        }
            

#contactoFooter {
    background-color: white;
}

