.equipamiento{
    color: #641115 ;
    text-align: left;
    margin-left: 10px;
}

.sonido{
    color: #641115 ;
    text-align: right;
    margin-right: 10px;
}

.listaEquipamiento {
    list-style: none;
    margin-left: -20px;
}

.listaEquipamiento:hover {
    text-decoration: underline;
}

.listaSonido{
    text-align: right;
    margin-right: 15px;
    list-style: none;
}

.listaSonido:hover{
    text-decoration: underline;
}

.links{
    color: black;
}